.nav-tabs .nav-item,
.sm-blue a,
.sm-blue a:hover,
.sm-blue a:focus,
.sm-blue a:active,
.sm-blue ul a,
.sm-blue ul a:hover,
.sm-blue ul a:focus,
.sm-blue ul a:active {
font-family: 'Nunito Sans', sans-serif;
font-weight: 700;
font-size: 1em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Nunito Sans', sans-serif;
font-weight: 900;
color: #003055;
}

.pageSubHeadBg {
background: #DBEBFF;
}
#header-schoolName, #header-schoolMotto {
visibility: hidden;
}

.page-header {
height: 500px;
}

@media all and (max-width: 768px) {

.page-header {
height: 350px;
}

}